@font-face {
  font-family: 'iconfont';  /* project id 1485327 */
  src: url('//at.alicdn.com/t/font_1485327_1s4z7m42q9m.eot');
  src: url('//at.alicdn.com/t/font_1485327_1s4z7m42q9m.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1485327_1s4z7m42q9m.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1485327_1s4z7m42q9m.woff') format('woff'),
  url('//at.alicdn.com/t/font_1485327_1s4z7m42q9m.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1485327_1s4z7m42q9m.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiajiantou:before {
  content: "\e62a";
}

.icon-gongsi-copy:before {
  content: "\e606";
}

.icon-kefu:before {
  content: "\e62b";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-gengduo:before {
  content: "\e633";
}

.icon-jia:before {
  content: "\e600";
}

.icon-zhiwei:before {
  content: "\e607";
}

.icon-shoucang:before {
  content: "\e605";
}

.icon-bofang:before {
  content: "\e6b2";
}

.icon-tongzhi:before {
  content: "\e66b";
}

.icon-umidd17:before {
  content: "\e603";
}

.icon-nianling:before {
  content: "\e6b8";
}

.icon-jingyancopy:before {
  content: "\e61c";
}

.icon-shandian:before {
  content: "\e654";
}

.icon-dianpu:before {
  content: "\e682";
}

.icon-mianshi-xuanzhong-:before {
  content: "\e631";
}

.icon-zhankai:before {
  content: "\e71a";
}

.icon-dongtai:before {
  content: "\e6b7";
}

.icon-jianli:before {
  content: "\e604";
}

.icon-yanjing:before {
  content: "\e621";
}

.icon-gongzhonghao:before {
  content: "\e629";
}

.icon-wodepinglun:before {
  content: "\e7d6";
}

.icon-shangsheng:before {
  content: "\e657";
}

.icon-baozhang:before {
  content: "\e635";
}

.icon-fenxiang:before {
  content: "\e639";
}

.icon-zhuye:before {
  content: "\e63a";
}

.icon-xiaoxi-:before {
  content: "\e63b";
}

.icon-zan:before {
  content: "\e63e";
}

.icon-ziji:before {
  content: "\e63d";
}

